.card {
  background-color: #2a2e32; 
  color: white; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right: 10px;
  width: 150px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  transition: all 0.3s ease-out;
  text-align: center; 
}

.card:hover {
  transform: translateY(-10px);
  filter: brightness(1.1);
}

.card img {
  max-width: 90%;
  height: 60%;
  object-fit: contain;
  transition: all 0.3s ease-out;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card img:hover {
  transform: rotate3d(1, 1, 0, 15deg);
}

.card h2 {
  font-size: 15px;
  margin: 10px 0;
}

.card p {
  margin: 10px 0;
}

.card-image {
  margin-bottom: 10px;
}
